*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    padding:20px;
}

.container{
    max-width:800px;
    margin:auto;
}

h1,h2{
    margin-bottom:15px;
}

section{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
}

input,
button,
select{
    padding:10px;
    margin:10px 0;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
}

li{
    background:white;
    margin:10px 0;
    padding:10px;
    list-style:none;
}

.product{
    background:white;
    padding:15px;
    margin:10px 0;
    border-radius:8px;
}

@media(max-width:768px){

    body{
        padding:10px;
    }

}