*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.stats{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    margin-bottom:20px;
}

.card{
    flex:1;
    min-width:150px;
    background:white;
    padding:20px;
    text-align:center;
    border-radius:8px;
}

.form-section,
.filters{
    margin-bottom:20px;
}

input,
select,
button{
    padding:10px;
    margin:5px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

.application{
    background:white;
    padding:15px;
    margin-bottom:10px;
    border-radius:8px;
}

.delete-btn{
    background:red;
    margin-top:10px;
}

.applied{
    color:blue;
    font-weight:bold;
}

.interview{
    color:orange;
    font-weight:bold;
}

.selected{
    color:green;
    font-weight:bold;
}

.rejected{
    color:red;
    font-weight:bold;
}

@media(max-width:768px){

    .stats{
        flex-direction:column;
    }

    input,
    select,
    button{
        width:100%;
    }

}