*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

.container{
    max-width:800px;
    margin:auto;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

form{
    display:flex;
    flex-direction:column;
    gap:10px;
}

input,
select,
button{
    padding:12px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
}

#applicationList{
    margin-top:20px;
}

.card{
    background:white;
    padding:15px;
    margin-bottom:10px;
    border-radius:8px;
}

@media(max-width:768px){

    .container{
        padding:15px;
    }

}.delete-btn{
    margin-top:10px;
    padding:8px 15px;
    background:red;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}